.infoBox {
    flex: 1;
    text-align: center;
    cursor: pointer;
}

.infoBox--selected {
    border-top: solid 8px #3f3e3e ;
    box-shadow: 6px 6px 2px 1px rgba(153, 152, 155, 0.2) !important;

}

.infoBox--green {
    border-top: greenyellow solid 8px;
    box-shadow: 6px 6px 2px 1px rgba(153, 152, 155, 0.2) !important;
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.infoBox__title {
    font-weight: bold !important;
    font-size: 20px !important;
}

.infoBox__cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infoBox__cases--green {
    color: rgb(129, 211, 7);
}
  
.infoBox__total {
    font-weight: 700 !important;
    font-size: 20px !important;
    margin-top: 15px !important;
}